# Models
models/**

# Data
**/*.jsonl
**/*.xlsx
**/*.xls
**/*.xml
**/*.csv
**/*.json
!results/*.json

# Hidden files
.DS_Store
.coverage
*.pyc
*~
*.swp

# Build, venv and dist
build/**
dist/**
venv/**
*egg-info/**

# Logs
logs/
