# Idea
.idea

# Env
.env
.envrc

# Models
models/**
!models/bertmesh/model/epoch-3.dvc
!models/xlinear/model-2022.12.0.dvc

# Data
**/*.jsonl
**/*.xlsx
**/*.xls
**/*.xml
**/*.csv
**/*.json
**/*.txt
**/*.tmp
**/*.npy
**/*.npz
!results/*.json
!pipelines/bertmesh/*.json

# Hidden files
.DS_Store
.coverage
*.pyc
*~
*.swp
.python-version
.envrc
.tox
.ipynb_checkpoints

# Build, venv and dist
build/**
dist/**
venv/**
*egg-info/**
*.tar.gz

# Tests
.tox

# Logs
logs/

# Notebooks
notebooks/
