# Models
models/**

# Data
**/*.jsonl
**/*.xlsx
**/*.xls
**/*.xml
**/*.csv
**/*.json
**/*.txt
**/*.tmp
**/*.npz
**/*.npy
!results/*.json

# Hidden files
.DS_Store
.coverage
*.pyc
*~
*.swp
.python-version
.envrc
.tox

# Build, venv and dist
build/**
dist/**
venv/**
*egg-info/**
*.tar.gz

# Logs
logs/

# Notebooks
notebooks/
