pandas
xlrd
scikit-learn==0.23.2
matplotlib
wellcomeml[tensorflow,core,transformers,torch]==2.0.0
docutils==0.15
scipy==1.4.1
wasabi
typer
scispacy
dvc[s3]
tqdm
scikit-multilearn
arff
python-dateutil<2.8.1,>=2.1
twine
sagemaker
streamlit
requests
openpyxl
# https://github.com/google/pygtrie/issues/36
pygtrie==2.3.3
