# ML
transformers
scikit-learn
# Data processing, sparse data
scipy
numpy
pandas
openpyxl
# Travis error. Also see https://github.com/urllib3/urllib3/issues/2168
urllib3<2.0
# CLI, progress bar, download
wasabi
typer
tqdm
requests
