pandas
xlrd
#scikit-learn==0.23.2
matplotlib
numpy
transformers<=4.16.2
gensim==4.0.0
docutils==0.15
scipy==1.4.1
wasabi
typer
scispacy
tqdm
scikit-multilearn
arff
python-dateutil<2.8.1,>=2.1
twine
seaborn
streamlit
requests
openpyxl
# https://github.com/google/pygtrie/issues/36
pygtrie==2.3.3
pre-commit
#numpy==1.21
dvc[s3]>=2.25.0
torch
